/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --white-bg: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  min-height: 100vh;
  background-color: #dfdfdf;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--white-bg);
    padding: 15px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

header .logo {
    display: flex;
    gap: 10px
}

header .logo h1 {
    font-size: clamp(20px, 2em, calc(100% + 1.5vw));
}

header .logo svg {
    width: 2rem;
}

.container {
    padding: 15px;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-bg);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card-btns {
    display: flex;
    gap: 10px;
    align-self: center;
    margin-top: 15px;
}