/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --white-bg: #fff;
    --gray: #6b6b6b;
    --add-book-text: #00028b;
    --add-book-bg: #aceeff;
    --read-text: #00028b;
    --read-bg: #73e3ff;
    --unread-text: #1d1d1d;
    --unread-bg: #bdbdbd;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  min-height: 100vh;
  background-color: #dfdfdf;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--white-bg);
  padding: 15px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  gap: 10px
}

.logo h1 {
  font-size: clamp(20px, 2em, calc(100% + 1.5vw));
}

.logo svg {
  width: 2rem;
}

#new-book {
  color: var(--add-book-text);
  background-color: var(--add-book-bg);
  border: none;
  border-radius: 15px;
}

.container {
  padding: 15px;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: var(--white-bg);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card p {
  font-size: clamp(12px, 0.85rem, 1rem);
}

.book-title-container {
  display: flex;
  gap: 5px;
  color: var(--gray);
}

.book-title-container svg {
  width: 28px;
  fill: var(--gray);
}

.book-author {
  color: #2023ff;
}

.read-status {
  width: fit-content;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 25px;
}

.read-status.read {
  color: var(--read-text);
  background-color: var(--read-bg);
}

.read-status.unread {
  color: var(--unread-text);
  background-color: var(--unread-bg);
}

.card-btns {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: 10px;
}

.card-btns button {
  color: #fff;
  border: none;
}

.card-btns button.toggleRead.read {
  background-color: #898989;
}

.card-btns button.toggleRead.unread {
  background-color: #009fc7;
}

.card-btns button.remove {
  background-color: #f52323;
}

dialog {
  border: none;
  border-radius: 15px;
}

form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form h2 {
  color: var(--read-text);
  text-align: center;
}

form div:not(:last-child) {
  display: flex;
  flex-direction: column;
}

form div:last-child {
  display: flex;
  justify-content: center;
  gap: 10px;
}

form input {
  padding: 5px;
  border-radius: 5px;
}

#submit {
  color: var(--add-book-text);
  background-color: var(--add-book-bg);
}

#close {
  background-color: #e3e3e3;
}